<div class="row">
  <div class="col-md-4 align-items-center">
    <div>
      <div class="brdr w-25"></div>
      <h4>Trending</h4>
      <h4>TV Shows</h4>
      <h4>To watch now</h4>
      <p class="secondary-c">Most watch shows by days  </p>
      <div class="brdr w-100"></div>
    </div>
  </div>
  @for (item of trendingShows; track $index) {
    <div class="col-md-2">
      <img class="w-100 mb-2" src="https://image.tmdb.org/t/p/original{{item.poster_path}}" alt="Poster">
      <h5>{{item.name}}</h5>
    </div>
  }
</div>
